**/.DS_Store
**/*.pyc
**/config.ini
**/node_modules/**
dist/**
docs/_build
build/**
**/*.arw
**/*.dng
**/*.nef
**/*.rw2
*.suo
/elodie.sln
/elodie.pyproj
/elodie/tests/files/photo.cr2
/elodie/tests/.noseids
/elodie/dbg_test_helper.py
/.coverage
/.noseids
/n.py
/nose.readme.txt
